{% extends "base.twig" %}
{% block content %}
<div class="container">
    <div class="main-content">
        <h3>Contact McCaffrey Woodworking</h3>
    </div><!-- /.main-content -->
</div><!-- /.container -->
{% endblock %}